// Placeholder to allow overriding predefined variables smoothly.

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&display=swap');

$content-width: 100%;

$base-font-family: 'Lora', serif;
$base-line-height: 1.3;