// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
h2, h3
{
    font-family: 'Crimson Text', sans-serif;
}
h1
{
    font-size: 3.375em;
    line-height: 1.1;
}
h2
{
    font-size: 2.25em;
    line-height: 1.1;
}
h3
{
    font-size: 1.5em;
    line-height: 1.1;
}
body
{
    font-size: 1em;
}
.site-header {
  border-top: 0px;
  border-bottom: 0px;
    background: #FFF952;
    padding-right: $spacing-unit;
     padding-left: $spacing-unit;
}
.page-content {
    padding: 0;
}
.wrapper {
  max-width: $content-width;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
  @extend %clearfix;

  @media screen and (min-width: $on-large) {
    max-width: $content-width;
    padding-right: 0;
    padding-left: 0;
  }
}
.wrapper-inside
{
     max-width: calc(#{$content-width} - (#{$spacing-unit}));
  margin-right: auto;
  margin-left: auto;
  padding: $spacing-unit;
  @extend %clearfix;

  @media screen and (min-width: $on-large) {
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding: $spacing-unit;
  }
}
.hero-container
{
    display: flex;
    background: #333333;
}
.about-container
{
    display: flex;
}
.main-home
{
    display: flex;
  flex-direction: column;
  justify-content: center;
    align-content: space-around;
}
.main-home-left {
  flex: 60%;
}

.main-home-right {
  flex: 40%;
}
.substack-home-left {
  flex: 40%;
}

.substack-home-right {
  flex: 60%;
}
.white-heading
{
    color: white;
}
.primary
{
    border: none;
    color: white;
    background: green;
    padding: $spacing-unit/2 $spacing-unit $spacing-unit/2 $spacing-unit;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: bold;
    align-self: flex-start;
    font-family: 'Crimson Text', sans-serif;
    font-size: inherit;
}
.primary:any-link
{
    color: white;
}
.harmony-container
{
    display: flex;
        background: #EAEAEA;
    padding-bottom: 0;
}
.substack-form
{
    align: center;
    text-align: center;
    background: #EAEAEA;
    padding-bottom: $spacing-unit;
}
.blog-container
{
    display: flex;
}
.blog-home
{
    display: flex;
    flex-direction: row;
   justify-content: center;
   align-items: center;
}

.blog-column {
padding-right: $spacing-unit;
     padding-left: $spacing-unit;
  flex: 1;
}
.site-footer {
    padding-right: $spacing-unit;
     padding-left: $spacing-unit;
    background: #EAEAEA;
}
.feat-img
{
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
    max-height: 400px;
}
@media screen and (max-width: 800px) {
    h1 {
        font-size: 2.25em;
    }
    h2
    {
        font-size: 1.5em
    }
  .hero-container, .harmony-container {
    flex-direction: column;
  }
    .logo
    {
        width: 150px;
    }
}
