// Placeholder to allow overriding predefined variables smoothly.

@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Crimson+Text&display=swap');

$content-width: 100%;

$base-font-family: 'Bitter', serif;
$base-line-height: 1.3;