---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

    {{ content }}

    <div class="wrapper-inside hero-container">
        <div class="main-home main-home-left">
   <h2 class="white-heading">How much time do you spend mindlessly scrolling?</h2>
        <h1 class="white-heading">Technology is a tool. Stop letting it take control.</h1>
            <a class="primary" href="#substack">Get Digitally Well</a>
  </div>
  <div class="main-home main-home-right">
<img src="/assets/img/selfie.png">
        </div> 
    </div>
    
      <div id="substack" class="wrapper-inside harmony-container">
        <div class="main-home substack-home-left">
   <img src="/assets/img/meditating.png">
  </div>
  <div class="main-home substack-home-right">
        <h1>Stay on the cutting edge of how technology is shaping our lives and learn to keep focused in a distracted world.</h1>
      <h2>Humans have become cyborgs. With our phones always within reach, we live partially irl and partially on the internet. Published every Tuesday, Digitally Well keeps you informed on how to use tech with intention in a world where apps are designed to hijack your attention.</h2>
        </div> 
         
    </div>
     
    <div class="substack-form">
         <iframe src="https://digitallywell.substack.com/embed" width="100%" height="320" frameborder="0" scrolling="no"></iframe>
          <h3><a href="https://digitallywell.substack.com/archive" target="_blank">Let me read it first</a></h3></div>
    
<div id="blog" class="wrapper-inside blog-container">
           {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <div class="blog-home"> 
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {% for post in site.posts limit:3 %}
        <div class="blog-column">
        <span class="post-meta">{{ post.date | date: date_format }}</span>
          
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
          {% if post.featured-image %}{% include post-featured-image.html image=post.featured-image alt=post.featured-image-alt %}{% endif %}
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        </div>    
      {%- endfor -%}
</div>
    </div>
    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}
        </div> 
